<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <link rel="canonical" href="{{ config.url }}{{ page.url }}">
    <link rel="stylesheet" href="/css/styles.css" />

    <title>{% if page.title and page.title != 'Home' %}{{title}} - {% endif %}{{ config.siteTitle }}</title>

    <!-- Icons -->
    <link rel="shortcut icon" type="image/png" href="/images/x16-favicon.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="/images/x32-favicon.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="/images/x64-favicon.png" sizes="64x64" />
    <link rel="shortcut icon" type="image/png" href="/images/x256-favicon.png" sizes="256x256" />
    <link rel="apple-touch-icon" type="image/png" href="/images/x256-favicon.png" />

    <!-- Meta -->
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}{{ config.keywords }}{% endif %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Facebook -->
    <meta property="og:title" content="{% if (title != 'Home') %}{{ page.fileSlug | titleCase }} - {% endif %}{{ config.siteTitle }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta property="og:url" content="{{ config.url }}{{ page.url }}">
    <meta property="og:image" content="{{ config.url }}{% if image %}{{ image }}{% else %}{{ config.image }}{% endif %}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ config.twitter }}">
    <meta name="twitter:title" content="{% if (title != 'Home') %}{{ page.fileSlug | titleCase }} - {% endif %}{{ config.siteTitle }}">
    <meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="twitter:creator" content="{{ config.twitter }}">
    <meta name="twitter:image" content="{{ config.url }}{% if image %}{{ image }}{% else %}{{ config.image }}{% endif %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Special+Elite&display=swap" rel="stylesheet">

  </head>
  <body class='bg-stone-100 text-md sm:text-lg nojs px-2 sm:px-6'>
    <main class="mx-auto max-w-prose main">

      {{ content | safe }}

    </main>
  <script type="text/javascript">
    document.body.classList.add('js');
    document.body.classList.remove('nojs');
  </script>
  </body>
</html>
